table#testcase-table-checkList thead td {
    /*background-color: #BEBEBE;*/
    background-color: rgba(190, 190, 190, 0.801);
    /* border-right: solid 2px white; */
  }
  table#testcase-table-checkList thead label {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
  }