
<div class="row" style="text-align: left;">
    <div class="col-3"  style="cursor:pointer;"[routerLink]="['/urs/userview']">
      <div style="background-color: white;margin:5px;padding:20px 20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <img style="width: 40px; height: 40px;display:inline;" src="assets/images/essay.png">&nbsp;
        <h5 style="display: inline;">My Request</h5>
      </div>
    </div>
  
    <div class="col-3"  style="cursor:pointer;"[routerLink]="['/urs/networkview']">
      <div style="background-color: white;margin:5px;padding:20px 20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <img style="width: 40px; height: 40px;display:inline;" src="assets/images/file.png">&nbsp;
        <h5 style="display: inline;">Approve Request</h5>
      </div>
    </div>
  
    <div class="col-3"  style="cursor:pointer;"[routerLink]="['/urs/itreview']">
      <div style="background-color: white;margin:5px;padding:20px 20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <img style="width: 40px; height: 40px;display:inline;" src="assets/images/review1.png">&nbsp;
        <h5 style="display: inline;">IT Request</h5>
      </div>
    </div>
  
    <div class="col-3"  style="cursor:pointer;"[routerLink]="['/urs/employeemanagement']">
      <div style="background-color: white;margin:5px;padding:20px 20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <img style="width: 40px; height: 40px;display:inline;" src="assets/images/management.png">&nbsp;
        <h5 style="display: inline;">User Management</h5>
      </div>
    </div>
  
    <br>
  
    <div class="col-3"  style="cursor:pointer;"[routerLink]="['/urs/permissionsettings']">
      <div style="background-color: white;margin:5px;padding:20px 20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <img style="width: 40px; height: 40px;display:inline;" src="assets/images/key.png">&nbsp;
        <h5 style="display: inline;">Roles & Permission</h5>
      </div>
    </div>
  
    <div class="col-3"  style="cursor:pointer;"[routerLink]="['/urs/workflow']">
      <div style="background-color: white;margin:5px;padding:20px 20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <img style="width: 40px; height: 40px;display:inline;" src="assets/images/workflow.png">&nbsp;
        <h5 style="display: inline;">Workflow</h5>
      </div>
    </div>
  
    <div class="col-3"  style="cursor:pointer;"[routerLink]="['/urs/lookupurs']">
      <div style="background-color: white;margin:5px;padding:20px 20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <img style="width: 40px; height: 40px;display:inline;" src="assets/images/table.png">&nbsp;
        <h5 style="display: inline;">Look Up</h5>
      </div>
    </div>
  </div><!--end row-->