<div>
    <h5 class="modal-title" id="modal-basic-title" style="display: inline;">Security Approval</h5>
    <button type="button" style="display: inline;background-color: transparent;border: none;float: right" (click)="closeModal()"><i class="fa fas fa-times"></i></button>
    <hr>
    <div class="row" style="padding:8px 0px">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <textarea id ="documentName" #search [(ngModel)]="comment" class="form-control" placeholder="Enter Comment"></textarea>
        </div>
        <div class="custom-control custom-radio col-sm-4">
            <input type="radio" [(ngModel)]="radiovalue"  value="Approve" name="options" id="option2"> Complete
        </div>
    </div>
    <div *ngIf="validationMsg" style="color: red;font-size:small">Please enter some comments </div>
    <div *ngIf="!validationMsg"><br> </div>
    <div style="text-align: right;">
        <button type="button" class="btn btn-primary" (click)="publish1()">Submit</button>
    </div>
</div>


