//ngx css for datatable
:host ::ng-deep.datatable-row-even {
  background-color: #ffffff;
  text-align: center;
}

:host ::ng-deep.datatable-row-odd {
  background-color: #efeffb;
  text-align: center;
}
:host ::ng-deep.datatable-body-cell {
  border: 0.5px solid white;
}
:host ::ng-deep.datatable-header-cell {
  background-color: #c0c0c0;
  color: black;
  text-align: center;
  border: 1px solid white;
}
:host ::ng-deep.ngx-datatable.material {
  .datatable-header-cell {
    background-color: #c0c0c0;
    color: black;
    font-size: 14px;
    text-align: center;
    border: 1px solid white;
  }
}

.search {
  display: block !important;

  padding-left: 45px;
  margin-top: -128 px;
}

.label {
  padding-top: 20px !important;
  padding-left: 30px !important;
}
#btnnewuser {
  position: absolute;
  right: 0;
  top: -105px;
}

input#txtSearch {
  width: 25%;
  position: absolute;
  top: -108px;
  right: 50px;
}
.has-feedback .fa-search {
  position: absolute;
  right: 60px;
  margin-top: -118px;
}
div#ViewUsers-panel .card-body {
  padding: 0;
}
.div {
  padding-left: 250px !important;
}

::ng-deep .nav-fill .nav-link.active {
  margin-top: -1px;
  border-top: 2px solid #20a8d8;
}

::ng-deep .nav-pills .nav-link.active,
::ng-deep .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #20a8d8;
}
::ng-deep a {
  color: #20a8d8;
}
