<div class="card" style="overflow-x:hidden ;">
    <br>

   <div style="margin:0px auto;padding:20px;">
    <div style="padding:10px;text-align: center;">
        <img style="width: 30px; height: 30px;display: inline;" src="assets/images/key.png">&nbsp;
        <h5 class="darkblue" style="font-weight:bolder;padding:10px 00px;display: inline;">Change Password</h5>
    </div>
 <div style="margin:0px auto;padding:20px;box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;">
    <div >
        <div >
            <label><strong>Old Password :<span style="color:red">*</span></strong></label>
            <input class="itemInput" type='password' [(ngModel)]='oldpassword' name='oldpassword' placeholder="Old Password" class='form-control'>
        </div>
    </div>
    <div >
        <div >
            <label><strong>New Password :<span style="color:red">*</span></strong></label>
            <input class="itemInput" type='password' [(ngModel)]='newpassword' name='newpassword' placeholder="New Password" class='form-control'>
        </div>
    </div>

<div style="text-align: center;"> 
    <div *ngIf="validationMsg" style="color: red;font-size: small;">Please enter old & new password</div>
    <br>
    <button type="btn" class="btn btn-primary" (click)="ChangePassword()" >Update</button>&nbsp;&nbsp;
    <button type="btn" class="btn btn-danger" (click)="onCancel()" >Cancel </button>
</div>
 </div>

</div>
<br>
</div>