

     <div class="topnav" id="myTopnav" style="position: fixed;z-index:1000;width:100%;">
      <div style="float: left;display: inline;padding:10px;">
        <h5 style="display: inline;color:white;">Risk Assessment Tool</h5>
    </div>



      <a style="color: white;font-size:15px;cursor: pointer;"><i class="fa fas fa-user" style="font-size:16px;" ngbTooltip="{{loginUsername}}"(click)="logout()"></i></a>&nbsp;
    
      <a *ngIf="itApprove" style="color: white;font-size:15px;cursor: pointer;" [routerLink]="['/urs/itreview']">IT Review</a>
      <a *ngIf="activeApprove"style="color: white;font-size:15px;cursor: pointer;" [routerLink]="['/urs/networkview']">Approve Request</a>
      <a style="color: white;font-size:15px;cursor: pointer;" [routerLink]="['/urs/userview']">My Request</a>
      <a style="color: white;font-size:15px;cursor: pointer;" [routerLink]="['/urs/uasdashboard']">Dashboard</a>
    
    
    </div><br><br><br>


  