div.table-wrapper {
  border: 1px solid rgb(255, 255, 255);
  height: 700px;
  width: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
}

td {
  padding: 10px;
  width: 250px;
  border: 1px solid #b2beb5;
}

.ngx-datatable.material {
  overflow-wrap: break-word;
}

//ngx css for datatable

:host ::ng-deep.ngx-datatable.material {
  .datatable-header-cell {
    background-color: rgba(190, 190, 190, 0.801);
    color: black;
    text-align: center;
    border: 1px solid white;
    font-size: 13px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
}

::ng-deep.datatable-row-detail {
  width: max-content !important;
}

:host ::ng-deep.datatable-row-even {
  background-color: #ffffff;
  text-align: center;
}

:host ::ng-deep.datatable-row-odd {
  background-color: #efeffb;
  text-align: center;
}
