div.table-wrapper {
  border: 1px solid rgb(255, 255, 255);
  height: 700px;
  width: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
}
table thead tr th {
  text-align: left;
  position: sticky;
  border: 1px solid rgb(255, 255, 255);
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  top: 0px;
  background-color: rgba(190, 190, 190, 0.712);
  color: rgb(7, 7, 7);
}
table td {
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  width: 100px;
  word-wrap: break-word;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.ngx-datatable.material {
  overflow-wrap: break-word;
}

//ngx css for datatable

:host ::ng-deep.ngx-datatable.material {
  .datatable-header-cell {
    background-color: rgba(190, 190, 190, 0.801);
    color: black;
    text-align: center;
    border: 1px solid white;
    font-size: 13px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
}

::ng-deep.datatable-row-detail {
  width: max-content !important;
}

:host ::ng-deep.datatable-row-even {
  background-color: #ffffff;
  text-align: center;
}

:host ::ng-deep.datatable-row-odd {
  background-color: #efeffb;
  text-align: center;
}

::ng-deep .tooltip-inner {
  max-width: 1000px;
  height: inherit;
  max-height: 600px;
  background-color: black;
  color: white;
}
