
    <div  style="top:-70px">
        <div class="card" style="padding: 10px 20px;">
            <br>
         <b>
            <h4 style="float:left;">
              <i><img style="width: 30px; height: 30px;" src="assets/images/avatars/settings.png"></i> Roles & Permission Settings
            </h4>
          </b>
        <br>
        <ngb-tabset #t="ngbTabset" (tabChange)="clearView()" >
            <ngb-tab title="Add/Edit Role" id="Add/EditRole">
                <ng-template ngbTabContent>
                        <br>
                    <form [formGroup]="roleForm">
                        <div class="row">
                            <div class="col-sm-6" style="padding:0px 20px;">
                                <label class="strong">Role Name :</label>
                                <input type="text"  name="roleName"  formControlName="roleName" placeholder="Role Name">
                            </div>
                            <div class="col-sm-6" style="padding:09px 20px;"  *ngIf="UserAccessModel.add">
                                <br>
                                <button *ngIf="!this.update" type="button" class="btn btn-primary"
                                (click)="saveRole()">Save</button>

                                <button *ngIf="this.update" type="button" class="btn btn-primary"
                                (click)="saveRole()">Update</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-danger"(click)="cancel()">Cancel</button>
                            </div>
                        </div>
                    </form>
                            <div class="row">
                                <div class="col-sm-12 mb-4"  *ngIf="UserAccessModel.view">
                                  <ngx-datatable #table class="material"  [columnMode]="'force'"
                                  [headerHeight]="40" [footerHeight]="40" [rowHeight]="50" [limit]="5" [scrollbarH]="false"
                                  id="permissionsetting" [rows]='categoryItems' style="box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;;">                               

                                    <ngx-datatable-column [flexGrow]="1.5" name="Roles" prop="key">
                                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        <input [ngStyle]="styleFunctions(isEditable[rowIndex])" value="key" [(ngModel)]="row.key" size="50"
                                         [disabled]="!isEditable[rowIndex]">
                                      </ng-template>
                                    </ngx-datatable-column>
                                                                                                
                                    <ngx-datatable-column [flexGrow]="1.5" name="Action" width="150">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                            
                                            <div style="padding:0px 45%;">
                                                <a role="button" title="Edit Role"  *ngIf="!this.isEditable[rowIndex]" 
                                                (click)="editRole(row)"  >
                                                <i class="fa fa-edit"  style="font-size: 22px;color: #367588;" *ngIf="UserAccessModel.edit"></i>
                                                </a>&nbsp;

                                                <!-- Save/Delete icons -->
                                                <a role="button" *ngIf="this.isEditable[rowIndex]" title="Save" 
                                                (click)="saveCategoryItem(row, rowIndex);">
                                                <i class="fa fa-save"  style="font-size: 25px;color: #8db600;"></i></a>

                                                <a role="button"  *ngIf="!this.isEditable[rowIndex]" title="Cancel" 
                                                (click)="deleteRole(row);" >
                                                <i class="fa fas fa-trash" style="font-size: 22px;color: #b06500;;" *ngIf="UserAccessModel.delete"></i></a>
                                            </div> 
                                                              
                                        </ng-template>
                                      </ngx-datatable-column>
                          
                                  </ngx-datatable>
                                </div>
                              </div>
                            <br>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Permission Settings" id="permissionSettings">
                <ng-template ngbTabContent>
                    <br>
                    <div class="card-body">
                        <form name="form" [formGroup]="form" >
                            <!-- [formGroup]="form" (ngSubmit)="saveAndGo()" -->
                            <div class="form-group row" ngbDropdown  style="position:relative; left:0px; top:-10px;" >
                                <div class="col-sm-1.5"><label>Select Role :</label></div>
                                <div class="col-sm-4">
                                    <select class="form-control" name="roleId" required formControlName="roleId"  (ngModelChange)="onRoleSelectLoadModule($event)">
                                        <option value="">Select Role</option> 
                                        <option *ngFor="let module of this.roles;let i=index" [value]="module.id" >
                                            {{module.key}}
                                        </option>
                                    </select>
                                </div>

                                    <div  class="col-sm-4 text-left" *ngIf="UserAccessModel.add">
                                        <button type="button" class="btn btn-primary "
                                            (click)="saveAndGoTo()">Update</button>&nbsp;&nbsp;&nbsp;
                                        <button type="button" class="btn btn-danger mr-2"
                                            (click)="cancel()">Cancel</button>
                                    </div>

                                <button type="button" class="btn btn-primary"
                                    (click)="this.permissionData.roleId='';t.select('Add/EditRole')" hidden>Add
                                    Role</button>
                            </div>
                            <div class="card-body"  style="position:relative; left:0px; top:-30px;">
                                <div id="check-list-drag-id" class="panel panel-default" dnd-sortable-container>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td class="w-6"><label class="text">Activate</label></td>
                                                <td class="w-40"><label class="text">Module Name</label></td>
                                                <td class="w-40"><label class="text">Add</label></td>
                                                <td class="w-40"><label class="text">View </label></td>
                                                <td class="w-40"><label class="text">Edit </label></td>
                                                <td class="w-40"><label class="text">Delete</label></td>
                                                <td class="w-10"><label class="text">Export</label></td>
                                                <!--<td class="w-40"><label class="text">Print</label></td>-->
                                             </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let module of permissionData; let in=index ">
                                                <td>
                                                    <div class="form-group row">&nbsp;&nbsp;&nbsp;
                                                        <ui-switch uncheckedLabel="off" checkedLabel="on" size="small"
                                                            [ngModelOptions]="{standalone: true}"
                                                            [(ngModel)]="module.activeFlag" ></ui-switch>
                                                           <!-- <ui-switch uncheckedLabel="off" checkedLabel="on" 
                                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="slaFlag"> -->
                                                    </div>
                                                </td>
                                                <td> {{module.moduleName}}</td>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" value="module.buttonPermissionDatas.add"
                                                            [checked]="module.buttonPermissionDatas.add"
                                                            (change)="module.buttonPermissionDatas.add=!module.buttonPermissionDatas.add;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" value="module.buttonPermissionDatas.view"
                                                            [checked]="module.buttonPermissionDatas.view"
                                                            (change)="module.buttonPermissionDatas.view=!module.buttonPermissionDatas.view;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" value="module.buttonPermissionDatas.edit"
                                                            [checked]="module.buttonPermissionDatas.edit"
                                                            (change)="module.buttonPermissionDatas.edit=!module.buttonPermissionDatas.edit;">
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                            value="module.buttonPermissionDatas.delete"
                                                            [checked]="module.buttonPermissionDatas.delete"
                                                            (change)="module.buttonPermissionDatas.delete=!module.buttonPermissionDatas.delete;">
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                            value="module.buttonPermissionDatas.export"
                                                            [checked]="module.buttonPermissionDatas.export"
                                                            (change)="module.buttonPermissionDatas.export=!module.buttonPermissionDatas.export;">
                                                    </div>
                                                </td>

                                                <!-- <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                            value="module.buttonPermissionDatas.print"
                                                            [checked]="module.buttonPermissionDatas.print"
                                                            (change)="module.buttonPermissionDatas.print=!module.buttonPermissionDatas.print;">
                                                    </div>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br/>
                                    <div class="col-lg-14 text-center">
                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>

          
        </ngb-tabset>
        </div>

    </div>
