//ngx css for datatable
:host ::ng-deep.datatable-row-even {
    background-color: #ffffff;
    text-align: center;
  }
  
  :host ::ng-deep.datatable-row-odd {
    background-color: #efeffb;
    text-align: center;
  }
  :host ::ng-deep.datatable-body-cell {
    border: 0.5px solid white;
  }
  :host ::ng-deep.datatable-header-cell {
    background-color: #bfc5ec;
    color: black;
    text-align: center;
    border: 1px solid white;
  }
  :host ::ng-deep.ngx-datatable.material {
    .datatable-header-cell {
      background-color: #5e72e4;
      color: white;
      text-align: center;
      border: 1px solid white;
    }
  }